body {
    color: white;
}

.choice-container {
    display: flex;
    width: 100%;
    border-radius: 5px;
    min-width: 80rem;
    font-size: 3rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 lightcoral;
    transform: scale(1.03);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(green 100%);
}

.incorrect {
    background: linear-gradient(red 100%);
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid blue;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: blue;
    width: 0%;
}

@media screen and (max-width:768px) {
    .choice-container {
        min-width: 40rem;
    } 
}